{% extends 'app/base2.html' %}
{% load static %}


{% block contenido %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 mt-3">
                <table class="table table-sm table-condensed table-striped" style="font-size: small;">
                    <thead>
                        <th>CODIGO</th>
                        <th>ARTICULOS</th>
                        <th>CANTIDAD</th>
                        <th>FECHA COMPRA</th>
                        <th>CLIENTE</th>
                        <th>SUBTOTAL</th>
                        <th>PRECIO IVA</th>
                        <th>TOTAL</th>
                        <th>ESTADO PEDIDO</th>
                        <th>OPCIONES</th>
                    </thead>
                    <tbody>
                        {% for aux in listarPedidos %}
                        <tr>
                            <td>{{ aux.codigo }}</td>
                            <td>{{ aux.articulos }}</td>
                            <td>{{ aux.cantidad }}</td>
                            <td>{{ aux.fecha_compra }}</td>
                            <td>{{ aux.cliente}}</td>
                            <td>${{ aux.subtotal }}</td>
                            <td>${{ aux.precioiva }}</td>
                            <td>${{ aux.total }}</td>
                            <td>{{ aux.estado_pedido }} <a href="{% url 'cambiar_estado' aux.codigo %}"><i class="fa-solid fa-pen-to-square" style="color: black;"></i></a></td>
                            <td>
                                {% if perms.app.delete_producto %}
                                <a onclick="confirmDeletePedido({{ aux.codigo }})" class="btn btn-sm btn-danger">Eliminar</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>            
            </div>
        </div>
    </div>
{% endblock %}
