{% extends 'app/base2.html' %}
{% load static %}

{% block contenido %}
<div class="container-fluid">
    <div class="row justify-content-center mt-4">
        {% for aux in listaJson %}
        <div class="col-sm-3 m-2">
            <div class="card" style="width:300px">
                {% if aux.thumbnail %}
                <a href="https://www.freetogame.com/open/{{ aux.title }}"><img src="{{ aux.thumbnail }}"class="card-img-top" style="max-width: 300px; height: auto;"></a>
                {% else %}
                <img src="{% static 'app/img/comida whiskas.webp' %}" class="card-img-top">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">Nombre: {{ aux.title  }}</h5>
                    <p class="card-text texto-precio"> genero: {{ aux.genre }}</p>
                    <hr>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}